modules = ["python-3.12"]
run = "python -m app.main"
[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8000
externalPort = 80

[deployment]
run = ["python", "-m", "app.main"]
build = ["sh", "-c", "pip install -r requirements.txt"]
deploymentTarget = "cloudrun"
